.textPage {
  font-family: JetBrains Mono, monospace;
  padding: 2rem;
  overflow-y: scroll;
}

.textPage::-webkit-scrollbar {
  width: 14px;
}

.textPage::-webkit-scrollbar-track {
  border-left: 0.5px solid #1b1f23;
  background: #24292e;
}

.textPage::-webkit-scrollbar-thumb {
  border-left: 0.5px solid #1b1f23;
  background: #333536;
}
